@import "bourbon";
@import '../partials/reset'; // reset browser
@import '../partials/variables'; // colors, fonts etc...
@import '../partials/mixins'; // custom mixins
@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html {
    font-size: 62.5%
}

body {
    font: {
        size: 1.6rem;
        family: $primary-font; // variables inside partials > _variables.scss
    }
    color: $color-1;
}

a {
    color: $color-1;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.btn {
    letter-spacing: 1px;
    padding: 0 16px;
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    margin-top: 8px;
    border-radius: 4px;
    border: 2px solid $color-1;
    color: $color-1;
    background-color: transparent;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;

    &:first-child {
        margin-right: 10px;
    }
    &:hover {
        background-color: darken($color-1, 10%);
        border-color: darken($color-1, 10%);
        color: $color-2;
    }
    @include MQ(M) {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        min-width: 150px;
        font-size: 1.2rem;
    }
    @include MQ(XL) {
        padding: 0 70px;
        height: 50px;
        line-height: 50px;
        &:first-child {
            margin-right: 30px;
        }
    }
}

.btn-filled {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    &:hover {
        color: $color-1;
    }
}


/* -------------------------------- 

Main Components 

-------------------------------- */

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .flex-container {
    display: flex;
  flex-wrap: wrap;

    .flex-item {
        width: 100%;
        height: 50vh;
        overflow: hidden;
        transition: transform 0.4s;
        transform: translateX(0);
        display: flex;
        align-items: center;
        justify-content: center;

        &.umbraco {
            background-color: $color-2;
        }
        &.kentico {
            background-color: $color-4;
        }
        &.sitecore {
            background-color: $color-3;
        }
        &.sitefinity {
            background-color: $color-6;
        }
    }
    @include MQ(M) {

        .flex-item {
            transform: translateX(0);
            transition: width 0s;
            float: left;
            width: 50%;
        }
    }
    }
}

.cms {
    display: flex
}

.content {
    width: 90%;
    max-width: $M; // breakpoints inside partials > _layout.scss
    margin: 0 auto;
    z-index: 1;
    hr {
        width: 35px;
        height: 1px;
        border: none;
        margin: 10px 0;
        margin: 10px 0 25px 0;
            display: block;
            background-color: $color-5;
    }
    h1 {
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $secondary-font;
        margin-bottom: 15px;
        
    }
    h2 {
        font-family: $primary-font;
        font-weight: 100;
        font-size: 1.2rem;
        margin: 10px 0 5px 0;
    }
    p {
        font-size: 1.4rem;
        font-family: $primary-font;
        line-height: 1.2;
        padding: .4em 0;
    }
    @include MQ(M) {
        width: 90%;
        display: block;
        h1 {
            font-size: 3.6rem;
            margin-bottom: 30px;
            width: 50%;
        }
        h1 {
            margin: 30px 0 5px 0;
        }
        hr {
            margin: 10px 0 25px 0;
            display: block;
            background-color: $color-5;
            display: none
        }
    }
    @include MQ(XL) {
        hr {
        width: 70px;
        margin: 15px 0 40px 0;
    }
    h1 {
        font-size: 5rem;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 1.5rem;
        margin: 10px 0 5px 0;
    }
    }

}


/* Platform */

.umbraco {
    .arrow-right {
        stroke: $color-3;
    }

    .btn-filled {
        background-color: darken($color-2, 10%);
        border-color: darken($color-2, 10%);
        box-shadow: 0px 2px 0px 0px darken($color-2, 15%);

        &:hover {
            background-color: darken($color-2, 20%);
            border-color: darken($color-2, 20%);
            box-shadow: 0px 2px 0px 0px darken($color-2, 0%);
        }
    }

}

.kentico {
    .arrow-right {
        stroke: $color-4;
    }

    .btn {
        
        &:hover {
            color: $color-3;
        }
    }
    .btn-filled {
        background-color: darken($color-4, 10%);
        border-color: darken($color-4, 10%);
        box-shadow: 0px 2px 0px 0px darken($color-4, 15%);


        &:hover {
            color: $color-1;
            background-color: darken($color-4, 20%);
            border-color: darken($color-4, 20%);
            box-shadow: 0px 2px 0px 0px darken($color-4, 0%);
        }
    }
}

.sitefinity {
    .arrow-right {
        stroke: $color-6;
    }

    .btn {
        
        &:hover {
            color: $color-6;
        }
    }
    .btn-filled {
        background-color: darken($color-6, 10%);
        border-color: darken($color-6, 10%);
        box-shadow: 0px 2px 0px 0px darken($color-6, 15%);


        &:hover {
            color: $color-1;
            background-color: darken($color-6, 20%);
            border-color: darken($color-6, 20%);
            box-shadow: 0px 2px 0px 0px darken($color-6, 0%);
        }
    }
}

.sitecore {
    .arrow-right {
        stroke: $color-4;
    }
    
    .btn {

        &:hover {
            color: $color-3;
        }
    }
    .btn-filled {
        background-color: darken($color-3, 10%);
        border-color: darken($color-3, 10%);
        box-shadow: 0px 2px 0px 0px darken($color-3, 15%);

        &:hover {
            color: $color-1;
            background-color: darken($color-3, 20%);
            border-color: darken($color-3, 20%);
            box-shadow: 0px 2px 0px 0px darken($color-3, 0%);
        }
    }
}

.arrow-right {
    fill: none;
    stroke: $color-4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.arrow {
    margin: 5px 20px -1px 2px
}


// SVG

.logo {
    width: 60px;
    height: 60px;
    path {
        fill: $color-1
    }
    @include MQ(M) {
        width: 70px;
        height: 70px;
    }
    @include MQ(XL) {
        width: 170px;
        height: 170px;
    }
}

.ucommerce-logo {
    display: block;
    width: 80px;
    height: 12px;
    .st0 {
        fill: $color-1
    }

    @include MQ(M) {
        margin-bottom: 15px
    }


    @include MQ(XL) {
        width: 150px;
        height: 24px;
    }
    
}

// Marketing banner

.marketing-banner {
        display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 80px;
    background: #140b06;
    transition: -webkit-transform .5s cubic-bezier(.694,.0482,.335,1);
    transition: transform .5s cubic-bezier(.694,.0482,.335,1);
    transition: transform .5s cubic-bezier(.694,.0482,.335,1),-webkit-transform .5s cubic-bezier(.694,.0482,.335,1);
}
