// colors

$color-1: #ffffff; // White
$color-2: #00BEC1; // Umbraco
$color-3: #de232f; // Sitecore
$color-4: #F05A22; // Kentico
$color-5: #3C43BF; // CTA
$color-6: #67d222; // Sitefinity


// fonts 

$primary-font: 'Abhaya Libre', serif;
$secondary-font: 'Roboto Condensed', sans-serif;
