// colors

$color-1: #ffffff; // White
$color-2: #3c2c8c; // Purple
$color-3: #de4348; // Red
$color-4: #47b475; // Yellow


// fonts 

$primary-font: 'Abhaya Libre', serif;
$secondary-font: 'Roboto Condensed', sans-serif;
